*{
  box-sizing: border-box;
}
html{
  scroll-behavior: smooth;
}
a{
  text-decoration: none;
  display: inline-block;
}
ul, 
li{
  list-style: nobe;
  margin: 0;
  padding: 0;
}
.container{
  max-width: 1170px;
  margin: 0 auto;
  padding: 0 15px;
}
body{
  font-family: 'PT Sans', sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 18px;
  color: #5e5e5e;
}
header{
  font-family: 'Roboto', sans-serif;
}
.header__top{
  background-color: #303030;
}
.header__btn{
  float: right;
  line-height: 36px;
  color: #2e4870;
  background-color: #6d9efa;
  padding: 5px 20px 4px 50px;
  font-style: 20px;
  position: relative;
}
.header__btn::before{
  font-family: 'icomoon';
  content: "\f0f2";
  position: absolute;
  left: 22px;
  color:#2e4870;    
}
.header__contacts::after{
  content: "";
  clear:both;
  display: block; 
}
.header__phone,
.header__email,
.header__date{
  color: #cbcacb;
  letter-spacing: 0.25px;
  line-height: 45px;
  position: relative;
}
.header__phone{
  padding-left: 20px;
  padding-right: 30px;
}
.header__phone::before{
  font-family: 'icomoon';
  content: "\f095";
  position: absolute;
  left: 0;
  color:#6d9efa;
}
.header__email{
  padding-left: 24px;
}
.header__email::before{
  font-family: 'icomoon';
  content:  "\f003";
  position: absolute;
  left: 0;
  color:#6d9efa;
}
.header__date{
  padding-left: 24px;
}
.header__content{
  padding: 34px 0px 23px;
}
.header__content-inner{
  display: flex;
  justify-content: space-between;
}
.menu li{
  display: inline-block;
}
.menu a{
  color:#323232;
  font-size: 16px;
  line-height: 36px;
  border: 1px solid transparent;
  padding: 0px 16px;
  transition: all .3s;
}
.menu a:hover{
  border-color: #6d9efa;
}
.menu li + li{
  padding-left: 10px;
}
.popup-bg{
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0,0,0,0,8);
  display: none;
}
.popup{
  position: absolute;
  top: 50%;
  left: 50%;
  width: 600px;
  background: #ffffff;
  padding: 20px;
  transform: translate(-50%, -50%);
  padding-top: 60px;
}
.close-popup{
  position: absolute;
  top: 30px;
  right: 30px;
}
.close-popup::before{
  font-family: 'icomoon';
  content:  "\f00d";
}
.popup form{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.form-text{
  color:#323232;
  font-size: 16px;
  line-height: 36px;
}
.popup form input{
  width: 60%;
  border: 2px solid #000000;
  font-style: 20px;
  margin-bottom: 30px;
  height: 40px;
}

.popup form input[type="submit"]{
  background: #87affa;
  color: #2e4870;
}
.no-scroll{
  overflow: hidden;
}
.slider{
  background-image: url(../img/fon.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  min-height: 500px;
}
.slider__item{
  text-align: center;
  padding-top: 110px;
  max-width: 665px;
  margin: 0 auto;
}
.slider__title{
  text-transform: uppercase;
  font-size: 36px;
  line-height: 40px;
  color: #ffffff;
  font-weight: 500;
  letter-spacing: 1.5px;
  margin-bottom: 22px;
  font-family: 'Roboto', sans-serif;
}
.slider__text{
  line-height: 24px;
  font-size: 18px;
  color: #d3d2d2;
  margin-bottom: 50px;
}
.default-btn{
  display: inline-block;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 8px 30px 8px 24px;
  border: 1px solid #6d9efa;
  border-right-width: 20px;
  position: relative;
  background: #ffffff71;
}
.default-btn::after{
  font-family: 'icomoon';
  content: "\f105";
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  right: -12px;
}
.services{
  padding: 50px 0px 30px;
}
.services__top,
.reviews__top{
  display: flex;
  justify-content: space-between;
  margin-bottom: 60px;
}
.services__title-box,
.form__title-box,
.reviews__title-box{
  max-width: 520px;
  padding-left: 140px;
  position: relative;
}
.services__title-box:before,
.form__title-box:before,
.reviews__title-box:before{
  content: "";
  position: absolute;
  width: 100px;
  height: 2px;
  background-color: #6d9efa;
  left: 0;
  top: 11px;
}
.services__title,
.form__title,
.reviews__title{
  font-size: 28px;
  font-weight: 500;
  line-height: 24px;
  color: #212020;
  font-family: 'Roboto', sans-serif;
  margin-bottom: 10px;
}
.services__text,
.form__text{
  letter-spacing: 0.1px;
}
.services__btn a,
.reviews__btn a{
  color: #373636;
  line-height: 24px;
  letter-spacing: 0.25px;
  padding: 5px 38px;
  border: 3px solid #e6e6e6;
}
.reviews__slider-text{
  padding-bottom: 30px;
}
.services__items{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
}
.services__item{
  max-width: 360px;
  text-align: center;
  padding: 30px 0px 80px;
  margin: 10px;
  position: relative;
  min-height: 375px;
  background-color: #f9f9f9;
  box-shadow: 0px 7px 24.3px 2.7px rgba(91, 89, 89, 0.14);
}
.services__item-title{
  color: #212020;
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 24px 0;
}
.services__item-photo {
  padding: 15px;
}
.services__item-text{
  letter-spacing: 0.1px;
  padding: 0px 30px 30px;

}
.services__item-btn{
  position: absolute;
  bottom: 40px;
  left: 0;
  right: 0;
}
.services__item-btn .default-btn{
  color: #373636;
}
.services__item-btn .default-btn:after{
  color: #fff;
}
.services__item-link{
  color: #050505;
  font-family: 'Roboto', sans-serif;
  border-bottom: 1px solid #050505;
  margin-right: 60px;
}
.about{
  background-image: url(../img/about-fon.jpg);
  background-size: cover;
  background-position: center;
  min-height: 300px;
  background-repeat: no-repeat;
  padding: 25px 0px 45px;
}
.about__inner{
  max-width: 545px;
}
.about__title{
  padding: 10px 0px 25px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
}
.about__text{
  margin-bottom: 30px;
  letter-spacing: 0.1px;
  line-height: 24px;
  color: #d3d2d2;
}
.default-btn:after{
  color: #ffffff;
}
.form{
  padding-top: 30px;
}
.form__inner{
  padding-bottom: 40px;
  background-image: url(../img/form-fon.png);
  min-height: 460px;
  background-repeat: no-repeat;
  background-position: bottom right;
}
.form__box{
  max-width: 850px;
  padding-top: 45px;
}
.form__box-inner{
  display: flex;
  justify-content: space-between;
}
.form__box-left{
  max-width: 260px;
  width: 100%;
}
.form__box-right{
  max-width: 555px;
  width: 100%;
}
.form__box-inner label,
.form__box-inner input,
.form__box-inner textarea{
  display: block;
  width: 100%;
}
.form__box-inner label{
  line-height: 36px;
  color: #282828;
  font-family: 'Roboto', sans-serif;
}
.form__box-inner input{
  margin-bottom: 8px;
  outline: none;
  height: 40px;
  border: 1px solid #e6e6e6;
  padding: 0px 10px;
}
.form__box-inner select{
  outline: none;
  padding-left: 17px;
}
.form__box-inner .jq-selectbox.jqselect{
  display: block;
  width: 100%;
}
.form__box-inner .jq-selectbox__select{
  height: 40px;
  border: 1px solid #e6e6e6;
  padding-left: 17px;
}
.form__box-inner .jq-selectbox__trigger-arrow:before{
  content: "\f105";
  font-family: 'icomoon';
  position: absolute;
  right: 17px;
  top: 0;
  transform: rotate(90deg);
}
.form__box-inner .jq-selectbox__dropdown {
	width: 100%;
	margin: 2px 0 0;
	padding: 0;
	border: 1px solid #e6e6e6;
	background: #FFF;
	box-shadow: 0 2px 10px rgba(0,0,0,.2);
}
.form__box-inner .jq-selectbox li {
	min-height: 18px;
	padding: 5px 17px 6px;
	color: #231F20;
}
.form__box-inner  .jq-selectbox li.selected {
	background-color: #A3ABB1;
	color: #FFF;
}
.form__box-inner  .jq-selectbox li:hover {
	background-color: #08C;
	color: #FFF;
}
.form__box-inner  .jq-selectbox li.disabled {
	color: #AAA;
}
.form__box-inner  .jq-selectbox li.disabled:hover {
	background: none;
}
.form__box-inner  .jq-selectbox li.optgroup {
	font-weight: bold;
}
.form__box-inner  .jq-selectbox li.optgroup:hover {
	background: none;
	color: #231F20;
	cursor: default;
}
.form__box-inner  .jq-selectbox li.option {
	padding-left: 25px;
}
.form__box-inner textarea{
  outline: none;
  border: 1px solid #e6e6e6;
  padding: 10px;
  height: 208px;
  resize: none;
  margin-bottom: 40px;
}
.form__box-inner button{
  background-color: transparent;
  color: #282828;
  float: right;
}
.advantages{
  padding: 55px 0px 40px;
  background-image: url(../img/adv-fon.jpg);
  background-repeat: no-repeat;
  background-position: center;
  min-height: 285px;
  background-size: cover;
}
.advantages__inner{
  color: #fff;
  text-align: center;
  display: flex;
  justify-content: space-between;
}

.advantages-item{
  max-width: 360px;
  padding: 0px 20px;
}
.advantages__title{
  font-size: 18px;
  line-height: 24px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  padding: 60px 0px 15px;
  position: relative;
}
.advantages__title:before{
  content: "";
  position: absolute;
  width: 40px;
  height: 40px;
  border: 2px solid #6d9efa;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
.advantages__title:after{
  content: "\f00c";
  font-family: 'icomoon';
  font-size: 14px;
  position: absolute;
  top: 9px;
  left: 50%;
  transform: translateX(-50%);
}
.advantages__text{
  line-height: 24px;
  color: #d3d2d2;
  letter-spacing: 0.1px;
}
.reviews{
  padding: 55px 0px 110px;
  background-color: #f9f9f9;
}
.reviews__inner{
  display: flex;
  justify-content: space-between;
}
.reviews__slider{
  max-width: 555px;
  width: 100%;
  background-color: #fff;
  box-shadow: 0px 5px 15.36px 0.64px rgba(128, 127, 127, 0.13);
  padding: 60px 35px 45px 70px;
  position: relative;
}
.reviews__slider:before{
  content: "\f10e";
  font-family: 'icomoon';
  position: absolute;
  top: 0;
  left: 70px;
  color: #fff;
  font-size: 16px;
  width: 65px;
  height: 30px;
  text-align: center;
  line-height: 30px;
  background-color: #6d9efa;
}
.reviews__blog{
  max-width: 260px;
  width: 100%;
}
.reviews__images{
  position: relative;
}
.reviews__date{
  position: absolute;
  background-color: #6d9efa;
  height: 55px;
  width: 50px;
  color: #fff;
  text-align: center;
  padding-top: 30px;
  font-weight: 700;
  top: 0px;
  left: 10px;
}
.reviews__blog-title{
  font-size: 16px;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  color: #242424;
  padding: 12px 0;
}
.reviews__blog-text{
  letter-spacing: 0.1px;
  color: #5e5e5e;
}
.reviews__slider-title{
  font-size: 18px;
  line-height: 24px;
  color: #242424;
  font-weight: 500;
  font-family: 'Roboto', sans-serif;
  letter-spacing: 0.5px;
  margin-bottom: 15px;
}
.reviews_slider-text{
  margin-bottom: 30px;
}
.reviews__slider-inner .slick-btn{
  top: auto;
  bottom: -110px;
}
.reviews__slider-inner .slick-next{
  right: -35px;
}
.reviews__slider-inner .slick-prev{
  right: 20px;
  left: auto;
}
.reviews__slider-inner .slick-disabled{
  border-color: #dadada;
}
.reviews__slider-inner .slick-disabled:before{
   color: #dadada;
}
.footer__content{
  background-color: #595959;
  padding: 20px 0px 30px;
}
.footer__inner{
  display: flex;
  justify-content: space-between;
}
.footer__inner .header__btn{
  float: none;
  display: inline-block;
}
.footer__map{
  padding-top: 10px;
  max-width: 630px;
  width: 100%;
}
.footer__map iframe{
  width: 100%;
}
.footer__title{
  font-family: 'Roboto', sans-serif;
  font-weight: 500;
  font-size: 16px;
  color: #fff;
  line-height: 36px;
  letter-spacing: 0.5px;
}
.footer__text{
  color: #d3d2d2;
  margin-bottom: 20px;
}
.footer__info{
  max-width: 360px;
}
.footer__list{
  padding-top: 10px;
}
.footer__list li{
  margin-top: 10px;
}
.footer__list a{
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0.25px;
  color: #fff;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
  padding-left: 33px;
  position: relative;
}
.footer__list a:before{
  content: '\f003';
  position: absolute;
  left: 0;
  color: #6d9efa;
  font-family: 'icomoon';
}
.footer__list .footer__phone:before{
  content: "\f095";
  left: 3px;
}
.footer__list .footer__adress:before{
  content: "\f041";
  left: 3px;
}
.footer__copy{
  background-color: #303030;
  text-align: center;
  font-size: 12px;
  line-height: 24px;
  padding: 8px 0;
  font-weight: 400;
  font-family: 'Roboto', sans-serif;
}

.header__btn-menu{
  display: none;
  font-size: 28px;
}
.list{
  text-align: left;
  padding-left: 100px;
}
.hide,
.hide + label ~ div {
    display: none;
}
.hide + label {
    margin: 0;
    padding: 0;
    color: #212020;
    cursor: pointer;
    display: inline-block;
    font-size: 18px;
    line-height: 24px;
    font-weight: 500;
    font-family: 'Roboto', sans-serif;
    padding: 24px 0;
}
.hide:checked + label + div {
    display: block;
    margin-left: 20px;
    padding: 10px;
     -webkit-animation:fade ease-in 0.5s; 
     -moz-animation:fade ease-in 0.5s;
     animation:fade ease-in 0.5s; 
}
@-moz-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@-webkit-keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }
}
@keyframes fade {
    from { opacity: 0; }
to { opacity: 1 }   
}
.hide + label::after {
    color: #6d9efa;
    font-family: 'icomoon';
    content: "\f0c9";
    display: block;
    float: right;
    font-size: 18px;
    font-weight: bold;
    height: 20px;
    line-height: 20px;
    margin: 2px 20px;
    text-align: center;
    width: 16px;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
}
.services__item-price{
  max-width: 1100px;
}
table{
  table-layout: fixed;
  width: 100%;
}
td{
  width: 50%;
}
.table tbody tr:nth-child(odd){
	background: #6d9efa2d;
}
.table tbody tr:nth-child(even){
	background: #6d9efa0e;
}
.contakt__text{
  font-size: 20px;
  letter-spacing: 1px;
  line-height: 2;
  padding-top: 70px;
  padding-right: 30px;
}
